{% include 'adminheader.html'%}

<style>
    body{
        background: white;
    }
</style>
<center>
    <div style="width: 100%;height: 190vh;padding-top:5px;"> 
                 <center>
<form class="bx"  method="post">

	<h1 class="text-white">Manage Staff</h1>
	{% if data['staffupdate'] %}
	<table class="table" style="width:500px;color: white">
		<tr>
			<th>First Name</th>
			<td><input type="text" required="" class="form-control" value="{{data['staffupdate'][0]['staff_fname']}}"  name="fname"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" required="" class="form-control" value="{{data['staffupdate'][0]['staff_lname']}}" name="lname"></td>
		</tr>

			<tr>
			<th>Date</th>
			<td><input type="date" required="" class="form-control" value="{{data['staffupdate'][0]['staff_dob']}}"  name="date"></td>
		</tr>

		<tr>
			<th>House Number</th>
			<td><input type="text" required="" class="form-control" value="{{data['staffupdate'][0]['staff_house_no']}}"  name="hno"></td>
		</tr>
		<tr>
			<th>House Name</th>
			<td><input type="text" required="" class="form-control" value="{{data['staffupdate'][0]['staff_house_name']}}"  name="hna"></td>
		</tr>


		<tr>
			<th>District</th>
			<td><input type="text" required="" class="form-control" value="{{data['staffupdate'][0]['staff_dist']}}"  name="district"></td>
		</tr>

	
		<tr>
			<th>Pincode</th>
			<td><input type="text" required="" pattern="[0-9]{6}" value="{{data['staffupdate'][0]['staff_pincode']}}" class="form-control"name="pin"></td>
		</tr>

		<tr>
				<th>Gender</th>
			<td><select name="gen" class="form-control">
				<option value="Female">Female</option>
					<option value="male">Male</option>
						<option value="Others">Others</option>
			</select></td>
			
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" required="" pattern="[0-9]{10}" value="{{data['staffupdate'][0]['staff_phone']}}"  class="form-control" name="num"></td>
		</tr>
		

		
		
		
		

		<td align="center" colspan="2"><input type="submit" name="update" value="submit" class="btn btn-success"></td>
	</table>
{% else %}
	<table class="table" style="width:500px;color: white">
			<tr>
			<th>First Name</th>
			<td><input type="text" required="" class="form-control" name="fname"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" required="" class="form-control"  name="lname"></td>
		</tr>

			<tr>
			<th>Date</th>
			<td><input type="date" required="" class="form-control" name="date"></td>
		</tr>

		<tr>
			<th>House Number</th>
			<td><input type="text" required="" class="form-control"  name="hno"></td>
		</tr>
		
		

		<tr>
			<th>House Name</th>
			<td><input type="text" required="" class="form-control"   name="hna"></td>
		</tr>


		<tr>
			<th>District</th>
			<td><input type="text" required="" class="form-control"  name="district"></td>
		</tr>

	
		<tr>
			<th>Pincode</th>
			<td><input type="text" required="" pattern="[0-9]{6}"  class="form-control"name="pin"></td>
		</tr>

		<tr>
			<th>Gender</th>
			<td><select name="gen" class="form-control">
				<option value="Female">Female</option>
					<option value="male">Male</option>
						<option value="Others">Others</option>
			</select></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" required="" pattern="[0-9]{10}"   class="form-control" name="num"></td>
		</tr>
		

		
		<tr>
			<th>User Name</th>
			<td><input type="email" required="" class="form-control"  name="uname"></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" required="" class="form-control" name="pwd"></td>
		</tr>
		<td align="center" colspan="2"><input type="submit" name="staffreg" value="submit" class="btn btn-success"></td>
	</table>
{% endif %}
</form>
</center>

<center>
	<h1>view Staff</h1>
	<form>
		<table class="table" style="width: 500px">
		<tr>
				<th>sino</th>
			   <th>First Name</th>
				<th>Last Name</th>
				<th>Gender</th>
				<th>Date</th>
				 <th>House Name</th>
				  
				<th>District</th>
				
				<th>Pincode</th>
				<th>Phone</th>
				
			   		
		</tr>
			{% for row in data['staffview']%}
    	<tr>
    		<td>{{loop.index}}</td>
    		<td>{{row['staff_fname'] }}</td>
    		<td>{{row['staff_lname']}}</td>
    		<td>{{row['staff_gender']}}</td>
    		<td>{{row['staff_dob'] }}</td>
    		<td>{{row['staff_house_name'] }}</td>
    		
    		<td>{{row['staff_dist'] }}</td>
    	
    		<td>{{row['staff_pincode'] }}</td>
    		<td>{{row['staff_phone'] }}</td>
    		


    	{% if row['status']=='1' %}

       <td><a class="btn btn-success" href="?action=inactive&uid={{row['username']}}">In Actice</a></td>

     {% elif row['status']=='0'%}
           
           
    		
    			<td><a class="btn btn-success" href="?action=active&uid={{row['username']}}">Active</a></td>

    		
    		{% endif %}
    			
    
    		   <td><a class="btn btn-success" href="?action=update&uid={{row['username']}}">Update</a></td>

    		
    
    	</tr>
    	{% endfor %}
   
		</table>
	</form>
</center>


</div></center>


<style>
    .lg-main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100% !important;
        /* margin-bottom: 2rem; */
        width: 50%;
        position: relative;
        left: 350px;
        padding: 2rem 0px;

    }
   
    .bx{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: 200px;
        border-radius: 20px;
        width: 60%;
        padding: 10px 40px;
        margin-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    h1{
        color: black;
    }
    body{
        background-image: url("/static/assets/images/");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200vh;
    }
    .name{
        color: aliceblue;
    }
</style>

{% include 'footer.html'%}