{% include 'customerheader.html' %}
<style>
    body{
        background: white;
    }
</style>
<center>
    <div style="width: 100%;height: 130vh;padding-top:5px;"> 
                 <center>

<form method="post" class="bx" enctype="multipart/form-data"  >

	<h1 class="text-white">Customer Profile</h1>
	{% if data['customerupdate']%}
	<table class="table" style="width:500px;color: white">
		<tr>
			<th>First Name</th>
			<td><input type="text" required="" value="{{data['customerupdate'][0]['customer_fname']}}" class="form-control" name="fname"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" required=""  value="{{data['customerupdate'][0]['customer_lname']}}" class="form-control" name="lname"></td>
		</tr>

		<tr>
			<th>House Name:</th>
			<td><input type="text" required=""  value="{{data['customerupdate'][0]['customer_houser_name']}}" class="form-control" name="hno"></td>
		</tr>

		
		<tr>
			<th>District</th>
			<td><input type="text" required=""  value="{{data['customerupdate'][0]['customer_dist']}}" class="form-control" name="district"></td>
		</tr>
	
			
		<tr>
			<th>Pincode</th>
			<td><input type="text" required=""  value="{{data['customerupdate'][0]['customer_pincode']}}" pattern="[0-9]{6}" class="form-control" name="pin"></td>
		</tr>


		

		<tr>
			<th>Phone</th>
			<td><input type="text" required=""  value="{{data['customerupdate'][0]['customer_phone']}}" pattern="[0-9]{10}" class="form-control" name="num"></td>
		</tr>
		
		<td align="center" colspan="2"><input type="submit" name="cusreg" value="submit" class="btn btn-success"></td>
	</table>
	{% endif %}
</form>
</center>
</div></center>


<style>
    .lg-main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100% !important;
        /* margin-bottom: 2rem; */
        width: 50%;
        position: relative;
        left: 350px;
        padding: 2rem 0px;

    }
   
    .bx{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: 200px;
        border-radius: 20px;
        width: 60%;
        padding: 10px 40px;
        margin-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    h1{
        color: black;
    }
    body{
        background-image: url("/static/assets/images/");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 130vh;
    }
    .name{
        color: aliceblue;
    }
</style>

{% include 'footer.html'%}