<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="customer_home">Home</a>
	<a href="customer_updateprofile">Update Profile</a>
	<a href="customer_viewboat">View Boat</a>
	<a href="customer_viewbooking"> My Bookings</a>
	
	<a href="/">logout</a>
 -->

<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Taxi Cab Transportation Category Flat Bootstrap Responsive Website Template | Home :: W3layouts</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Taxi Cab Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<link rel="stylesheet" href="/static/css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/css/owl.theme.css" type="text/css" media="all">
	<!-- css files -->
	<link rel="stylesheet" href="/static/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="/static/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!--/banner-->
	<div class="top-bar_sub_w3layouts container-fluid">
		<div class="row">
			
			
		</div>
	</div>

	<div class="banner" id="home">
		<!-- header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item active">
							<a class="nav-link ml-lg-0" href="customer_home">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="customer_updateprofile">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="customer_booking">Booking Now</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="customer_viewbooking">View Booking</a>
						</li>
						

					
						<li class="nav-item">
							<a class="nav-link" href="/">Logout</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>
		<!-- //header -->