{% include 'customerheader.html'%}


<script type="text/javascript">
	function TextOnTextChange()
	{
		var x =document.getElementById("p_amount").value;
		var y =document.getElementById("p_qnty").value;
		document.getElementById("t_amount").value = x * y;
	}

</script> 
<style>
    body{
        background: white;
    }
</style>
<center>
    <div style="width: 100%;height: 130vh;padding-top:5px;"> 
                 <center>

<form method="post"  class="bx">

	<h1 class="text-white">Book Now</h1>
	<form method="post">
		<table class="table" style="width: 500px;color: white">
		
		<tr>
			<th>Time</th>
			<td><select name="time" class="form-control" required="">
       <option>--Select--</option>   

       {% for row in data['timingview']%} 
       <option value="{{row['time_id']}}">{{row['time_slot']}}</option>    
       {% endfor %} 
            </select></td>
		</tr>

        <tr>
            <th>Location</th>
            <td><select name="location"  class="form-control" required="">
                <option>--Select--</option>

                {% for row in data['locationsview']%}
                <option value="{{row['location_id']}}">{{row['end_location']}}{{row['start_location']}}</option>
                {% endfor %}
            </select></td>
        </tr>
		<tr>
			<th>Category</th>
			<td><select name="category"  class="form-control" required="">
       <option>--Select--</option>
                    {% for row in data['categoryview']%}
                <option value="{{row['category_id']}}">{{row['category_name']}}</option>
                {% endfor %}         
            </select>
            </td>
		</tr>

		<tr>
			<th>Total</th>
			<td><input type="text" required="" class="form-control" required=""  id="t_amount" name="total"></td>
		</tr>
		<tr><td align="center" colspan="2"><input type="submit" class="btn btn-success" name="Book"></td></tr>
	</table>
	</form>
</center>




</div></center>


<style>
    .lg-main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100% !important;
        /* margin-bottom: 2rem; */
        width: 50%;
        position: relative;
        left: 350px;
        padding: 2rem 0px;

    }
   
    .bx{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: 200px;
        border-radius: 20px;
        width: 60%;
        padding: 10px 40px;
        margin-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    h1{
        color: black;
    }
    body{
        background-image: url("/static/assets/images/");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 130vh;
    }
    .name{
        color: aliceblue;
    }
</style>
{% include 'footer.html'%}