{% include 'publicheader.html' %}



<section class="w3l-call-to-action_9" style="height: 700px;background: url();color: black;background-size: cover;backdrop-filter: blur(5px);">
    <div class="call-w3">
        <div class="container">
            <div class="booking-form-content">
                <div class="main-titles-head ">
                <h3 class="header-name">Customer Registration
                </h3>
                <!-- <p class="tiltle-para editContent ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p> -->
            </div>
                <form  method="post" class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-4">
                            <label>First Name</label>
                            <input type="text" name="fname" placeholder="First Name" required="">
                        </div>

                        <div class="form-input col-md-4">
                            <label>Last Name</label>
                            <input type="text" name="lname" placeholder="Last Name" required="">
                        </div>
                        <div class="form-input col-md-4">
                            <label>House Name</label>
                            <input type="text" name="hno" placeholder="House Name" required="">
                        </div>
                      
                        <div class="form-input col-md-4">
                            <label>District</label>
                            <select name="district" class="selectpicker">
                                <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                <option value="Kollam">Kollam</option>
                                <option value="Pathanamthitta">Pathanamthitta</option>
                                <option value="Alappuzha">Alappuzha</option>
                                <option value="Kollam">Kollam</option>
                                <option value="Idukki">Idukki</option>
                                <option value="Ernakulam">Ernakulam</option>
                                 <option value="Thrissur">Thrissur</option>
                                  <option value="Palakkad">Palakkad</option>
                                  <option value="	Malappuram">	Malappuram</option>
                                   <option value="Kozhikode">Kozhikode</option>
                                   <option value="Wayanad">Wayanad</option>
                                    <option value="Kannur">Kannur</option>
                                     <option value="Kasaragod">Kasaragod</option>
                            </select>

                        </div>
                <div class="form-input col-md-4">
                            <label>Pincode</label>
                            <input type="number"  placeholder="Pincode" pattern="[0-9]{6}"name="pin" required="">
                        </div>

                          <div class="form-input col-md-4">
                            <label>Phone</label>
                            <input type="number"  placeholder="Phone" pattern="[0-9]{10}"name="num" required="">
                        </div>
                        <div class="form-input col-md-4">
                            <label>User Name</label>
                            <input type="email" name="uname" placeholder="User Name" required="">
                        </div>

                        <div class="form-input col-md-4">
                            <label>Password</label>
                            <input type="text" name="pwd" placeholder="Password" required="">
                        </div>
                        <div class="bottom-btn col-md-4 mt-3">
                          
                            <button class="btn btn-style btn-primary w-100 btn-style"  name="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html'%}